<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
        .Title
        {
            font-family: Times;
            font-weight: bold;
            font-size: 100px;
        }
        body
        {
            background-attachment: fixed;
            background-color: white;
            font-family: Times;
            font-size: 35px;
            background-size:cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
        <div class="Title"><pre>       About Us</pre></div>
        <pre>
        As we know that getting whole versatility of food
        in near around area is not easy.

        And at least one has to take the feet out of the four walls which
        may not be allowed by your hunger.

        So by gathering the chefs who can prepare the kind of food
        you crave for, we have opened a kitchen but
        not that traditional come and seat type we’ll serve you at your place
        and if possible at your time.

        Through our finger licking app called HUNGGER
        so without holding your tummy and finger much add the world to cart.
        Keep the words your temptation is our duty.

        So go and grab as much as you can assimilate!

        “Consume it don’t waste it !”<hr>
                                    <a href="/home">Let's Start</a>
        </pre>
</body>
</html>